/* Header */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

span {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-list-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
}

.navigation-list-link:active,
.navigation-list-link:focus,
.navigation-list-link:hover {
  color: var(--OCEAN, #404bbf);
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--OCEAN, #404bbf);
}

.address-list-mail:hover,
.address-list-mail:focus {
  color: var(--OCEAN, #404bbf);
}

/* Main */
/* Main Title */

.main-title {
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
}

.hero-title {
  padding: 188px 0;
  background: var(--NAVY-BLUE, #2e2f42);
}

.main-title-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: var(--WHITE, #fff);
  background-color: var(--IRIS, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: var(--OCEAN, #404bbf);
}

.future-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.futures-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.future-list {
  display: flex;
  gap: 24px;
}

.future-unit {
  width: calc((100% - 24px * 3) / 4);
}

.future-items {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.futures-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.our-team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  text-align: center;
  width: calc((100% - 24px * 3) / 4);
}

.our-team-card-text {
  padding: 32px 0;
}

.our-team-names {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-title {
  padding-top: 120px;
  margin-bottom: 72px;
}

.our-team {
  background-color: var(--CLOUD, #f4f4fd);
  padding: 120px 0;
}

.our-portfolio {
  padding: 120px 0;
}

.our-portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
}

.our-portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-card {
  width: calc((100% - 24px * 2) / 3);
}

.our-portfolio-apps {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-portfolio-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-portfolio-card-text {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
  background: var(--WHITE, #fff);
  padding: 32px 16px;
}

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: var(--CLOUD, #f4f4fd);
}

.footer-advice {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
